[submodule "src/lib/kryptos"]
	path = src/lib/kryptos
	url = https://github.com/rafael-santiago/kryptos
[submodule "src/lib/cutest"]
	path = src/lib/cutest
	url = https://github.com/rafael-santiago/cutest
[submodule "src/lib/accacia"]
	path = src/lib/accacia
	url = https://github.com/rafael-santiago/accacia
[submodule "src/dev/icloak"]
	path = src/dev/icloak
	url = https://github.com/rafael-santiago/icloak
[submodule "src/cmd/test/kook"]
	path = src/cmd/test/hdev/kook
	url = https://github.com/rafael-santiago/kook
